////////////
// colors //
////////////
$base-color: #0065a9;
$base-color-alternate: #ffffff;
$background-color: #f3f3f3;
$background-color-alternate: #000000;

///////////
// fonts //
///////////
$open-sans-light: "open-sans-light";
$open-sans-light-italic: "open-sans-light-italic";
$open-sans-regular: "open-sans-regular";
$open-sans-regular-italic: "open-sans-regular-italic";
$open-sans-semi-bold: "open-sans-semi-bold";
$open-sans-semi-bold-italic: "open-sans-semi-bold-italic";
$open-sans-bold: "open-sans-bold";
$open-sans-bold-italic: "open-sans-bold-italic";
$open-sans-extra-bold: "open-sans-extra-bold";
$open-sans-extra-bold-italic: "open-sans-extra-bold-italic";

//////////////////
// font weights //
//////////////////
$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$ultra-bold: 900;
